# Use a 4096 bit RSA key instead of 2048
rsa-key-size = 4096

email = {{ admin_emails[0] }}

standalone-supported-challenges = http-01
webroot-path = /srv/letsencrypt/fake-webroot

agree-tos = True
text = True

