# This file is managed by Ansible. Don't make changes here, they will be overwritten.

GlobalKnownHostsFile /etc/ssh/known_hosts

Host *
    ForwardAgent no
    ForwardX11 no
    PasswordAuthentication yes
    HostbasedAuthentication no
    GSSAPIAuthentication yes

