# This file is managed by Ansible. Don't make changes here, they will be overwritten.

[Unit]
Description=status email for %I to root

[Service]
Type=oneshot
ExecStart=systemd-send-email root@localhost %i
User=nobody
Group=systemd-journal

