# This file is managed by Ansible. Don't make changes here, they will be overwritten.

[Unit]
Description=yum cron

# send emails on error
OnFailure=systemd-status-email.service@%n.service


[Service]
Type=simple
ExecStart=/usr/sbin/yum-cron /etc/yum/yum-cron.conf

